.container {
    font-size: 0.9rem;
  }
  h4 {
    color: #4a4a4a;
  }
  .table {
    margin-bottom: 0;
  }
  .table th,
  .table td {
    text-align: center;
  }
/* Estilos de impresión */
@media print {
  .no-print {
    display: none;
  }
}